* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

header {
    background-color: blanchedalmond;
    width: 100%;
}

#mid {
    background-color: beige;
    width: 100%;
}

footer {
    background-color: blanchedalmond;
    width: 100%;
}